<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean name="myBean" class="cn.bfay.MyBean"/>
    <bean name="myBean1" class="cn.bfay.MyBean1"/>
    <bean name="myBean2" class="cn.bfay.MyBean2"/>
    <!--<bean name="myBean1" class="cn.bfay.MyBean"/>-->
</beans>